@Schema example not showing in Swagger UI for ZonedDateTime

**Describe the bug**
I have the following schema specification on a request field
```java
    @Schema(
            description = "Datetime of the accept, default to now if not provided",
            type = "string",
            format = "date-time",
            example = "2020-04-28T00:00:00.000000"
    )
    @JsonFormat(shape = JsonFormat.Shape.STRING, pattern = "yyyy-MM-dd'T'HH:mm:ss.nnnnnn", timezone = "UTC")
    private ZonedDateTime acceptDateTime = ZonedDateTime.now(ZoneOffset.UTC);
```
In SwaggerUI, the example does not show up, and the request is showing a datetime with a different value (and format).
![image](https://user-images.githubusercontent.com/2967322/151195824-14156d0e-927b-4025-b35b-6975e22ce223.png)
![image](https://user-images.githubusercontent.com/2967322/151195987-0373c281-d9fc-416a-aa47-cf60a7ea0d51.png)


**To Reproduce**
Steps to reproduce the behavior:
- What version of spring-boot you are using? 2.6.3 (same issue in 2.6.2)
- What modules and versions of springdoc-openapi are you using? 1.6.5 (same issue in 1.6.4)
- What is the actual and the expected result using OpenAPI Description (yml or json)? The example should show up with `2020-04-28T00:00:00.000000`, but it is showing the current datetime with different format (`2022-01-26T15:42:51.537Z`)
- Provide with a sample code (HelloController) or Test that reproduces the problem
```java
@Data
@NoArgsConstructor
public class AcceptRequest {
    @Schema(
            description = "Datetime of the accept, default to now if not provided",
            type = "string",
            format = "date-time",
            example = "2020-04-28T00:00:00.000000"
    )
    @JsonFormat(shape = JsonFormat.Shape.STRING, pattern = "yyyy-MM-dd'T'HH:mm:ss.nnnnnn", timezone = "UTC")
    private ZonedDateTime acceptDateTime = ZonedDateTime.now(ZoneOffset.UTC);

    public void setAcceptDateTime(ZonedDateTime acceptDateTime) {
        if (acceptDateTime != null) {
            this.acceptDateTime = acceptDateTime;
        }
    }
}
```
```java
@RestController
public class MyController {
    @Operation(description = "Accept offer")
    @PostMapping(
            value = "/api/v1/accept",
            consumes = MediaType.APPLICATION_JSON_VALUE,
            produces = MediaType.APPLICATION_JSON_VALUE
    )
    @ResponseStatus(HttpStatus.CREATED)
    public void accept(
            @Parameter(required = true, example = "12345678") @PathVariable String account,
            @Parameter(required = true) @RequestBody @Valid AcceptRequest acceptRequest
    ) {
        // Do something
    }
}
```

@zengshengliu, 

Are you having any issue with the generated OpenAPI spec ?

I checked the api-docs and it looks like it is also missing from the schema
![image](https://user-images.githubusercontent.com/2967322/151215040-dc8f7ac6-0db6-4a22-8e5a-eaafe57cc802.png)


@zengshengliu, 

Please fill: What are the **actual** and the **expected** result using **OpenAPI Description** (in whatever yml or json format)



For the format: date-time – the date-time notation as defined by RFC 3339, section 5.6, for example, 2017-07-21T17:32:28Z
In your case: Replace "2020-04-28T00:00:00.000000", by "2020-04-28T00:00:00.00Z".
if you need to keep your example, then remove the format, so it can be interpreted as string.

Got it.
I previously have
```java
@Schema(
            description = "Datetime of the accept, default to now if not provided",
            example = "2020-04-28T00:00:00.000000"
    )
```
but didn't specify the type, so I believe it take the ZonedDateTime and set it as a date-time format.
Once I add the type but leave out the format, it works.
```java
@Schema(
            description = "Datetime of the accept, default to now if not provided",
            type = "string",
            example = "2020-04-28T00:00:00.000000"
    )
```
Thanks